@import "tailwindcss";

:root {
  --background: #F7F2ED;
  --foreground: #313131;
}

@theme inline {
  /* warna */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: #fcfcfc;
  --color-text: #AB8536;
  --color-brand: #aba134;

  --font-sans: var(--font-sans);
  --font-heading: var(--font-heading);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: #313131;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #383837;
}

p {
  color: var(--foreground);
}